V2/dictionary.txt
V2/dictionary_old.txt
OpenMP/dictionary.txt
V2/.venv/
V2/__pycache__/
V2/flask_compare_app.log
V2/.flask_compare_results.json
V2/*.log
V2/*.zip
V2/hybrid
V2/mpi_crack
V2/omp_crack
V2/serialProcessing
V2/serial_crack
V2/*_crack
V2/openmpi_*
!V2/openmpi_*.c
V2/omp_dictionary_txt_full
V2/hybrid_dictionary_txt_full
V2/serial_dictionary_txt
V2/pick_dictionary_password_hash
serialProcessing
